codigo en java con web service/PrimerJavaAplicaion/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/WebApplication_2/NewWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://servicios/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://servicios/" name="NewWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://servicios/" schemaLocation="http://localhost:8080/WebApplication_2/NewWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="suma">
<part name="parameters" element="tns:suma"/>
</message>
<message name="sumaResponse">
<part name="parameters" element="tns:sumaResponse"/>
</message>
<message name="Consulta">
<part name="parameters" element="tns:Consulta"/>
</message>
<message name="ConsultaResponse">
<part name="parameters" element="tns:ConsultaResponse"/>
</message>
<message name="Nombre_alumno">
<part name="parameters" element="tns:Nombre_alumno"/>
</message>
<message name="Nombre_alumnoResponse">
<part name="parameters" element="tns:Nombre_alumnoResponse"/>
</message>
<portType name="NewWebService">
<operation name="suma">
<input wsam:Action="http://servicios/NewWebService/sumaRequest" message="tns:suma"/>
<output wsam:Action="http://servicios/NewWebService/sumaResponse" message="tns:sumaResponse"/>
</operation>
<operation name="Consulta">
<input wsam:Action="http://servicios/NewWebService/ConsultaRequest" message="tns:Consulta"/>
<output wsam:Action="http://servicios/NewWebService/ConsultaResponse" message="tns:ConsultaResponse"/>
</operation>
<operation name="Nombre_alumno">
<input wsam:Action="http://servicios/NewWebService/Nombre_alumnoRequest" message="tns:Nombre_alumno"/>
<output wsam:Action="http://servicios/NewWebService/Nombre_alumnoResponse" message="tns:Nombre_alumnoResponse"/>
</operation>
</portType>
<binding name="NewWebServicePortBinding" type="tns:NewWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="suma">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Consulta">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="Nombre_alumno">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="NewWebService">
<port name="NewWebServicePort" binding="tns:NewWebServicePortBinding">
<soap:address location="http://localhost:8080/WebApplication_2/NewWebService"/>
</port>
</service>
</definitions>