codigo en java con web service/PrimerJavaAplicaion/xml-resources/web-service-references/NewWebService/wsdl/localhost_8080/WebApplication_2/NewWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios/">

<xs:element name="Consulta" type="tns:Consulta"/>

<xs:element name="ConsultaResponse" type="tns:ConsultaResponse"/>

<xs:element name="Nombre_alumno" type="tns:Nombre_alumno"/>

<xs:element name="Nombre_alumnoResponse" type="tns:Nombre_alumnoResponse"/>

<xs:element name="suma" type="tns:suma"/>

<xs:element name="sumaResponse" type="tns:sumaResponse"/>

<xs:complexType name="suma">
<xs:sequence>
<xs:element name="a" type="xs:int"/>
<xs:element name="b" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumaResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Nombre_alumno">
<xs:sequence>
<xs:element name="ci" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Nombre_alumnoResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Consulta">
<xs:sequence>
<xs:element name="ci" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ConsultaResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>